
.contact {
    width: 15vw;
    margin: auto;
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.intro {
    width: 60vw;
    height: 40vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



