html {
    scroll-behavior: smooth;
}

body {
    padding: 0px; 
    margin: 0px;
}

#main {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

.navBar {
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20));
    box-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navBar > a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.header {
    height: 50vh;
    width: 100vw; 
    margin-top: 7vh;
    background-image: linear-gradient(rgb(33, 0, 37), rgb(22, 0, 21));
    color: white;
    display: flex;
    flex-direction: column;   
}

.projectArea {
    width: 60vw;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.projectArea > div {
    border-left: 2px solid rgb(33, 0, 37);
    margin: 10px 0px;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    .navBar > a {
        font-size: 90%;
    }

    .projectArea {
        width: 80vw;
    }
    
}