#main {
    background-image: linear-gradient(rgb(206, 206, 206), rgb(175, 175, 175), rgb(202, 202, 202));
}

.navBar {
    height: 7vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20));
    box-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navBar > span > a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.header {
    height: 50vh;
    width: 100vw;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;   
    background-image: linear-gradient(rgb(33, 0, 37), rgb(22, 0, 21));
    color: white;
    display: flex;
    flex-direction: column;
    
}

.projectArea {
    width: 70vw;
    margin: auto;
}

/*
div {
    border: solid red 1px;
}
*/