.pageTile {
    height: 100vh;
    width: 70vw;
    margin: auto;
    color: rgb(0, 78, 70);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}

.border {
    border: solid grey 1px;
}
